:root {
    --fg-color: #ffffff;
    --bg-color: #000;
    --color00: #E1578A;
    --color01: #FF69EB;
    --color02: #FF86C8;
    --color03: #FFA3A5;
    --color04: #FFBF81;
    --color05: #FFDC5E;
    --color06: #FDFF8F;
    --ui-color: #4299e1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
    color: var(--color01);
}

h1 {
    color: var(--fg-color);
    font-size: 3rem;
}

nav {
    max-width: 100%;
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.navs {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.navs a {
    font-size: 0.9rem;
    color: #fff;
}

.heading {
    margin: 5rem auto 0 auto;
    max-width: 50rem;
    text-align: center;
}

.subheading {
    font-size: 1rem;
}

.projects {
    margin: 10rem auto 0 auto;
    height: auto;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.proj {
    margin-top: 2rem;
    background-color: #171923;
    padding: 0.8rem;
    outline: #fff 2px;
}

.proj-heading {
    color: var(--ui-color);
}

.proj-content {}

.proj-desc {
    margin-top: 0.4rem;
    font-size: 0.6rem;
}

.connect {
    margin: 5rem auto 0 auto;
    max-width: 35rem;
}

.con-1 {
    margin-top: 2rem;
}

/* text animation */
.header {
    font-size: 3rem;
    letter-spacing: 2px;
    color: #f35626;
    background-image: linear-gradient(to left, #79c2ff, #4a5888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@media screen and (max-width: 600px) {

    .projects,
    .connect,
    nav {
        padding: 0 15px 0 15px;
    }

    .navs {
        display: none;
    }

}